name: Validate Terraform
on:
  push
jobs:
  terraform-validate:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
    - name: Validate Terraform configuration
      uses: devops-infra/action-terraform-validate@v0.3.1